{% extends 'main.html' %}{% block pageTitle %}Page not found!{% endblock pageTitle %}{% block content %}
<section class="section">
  <div class="container">
  <div>
    <h1><i class="fa-solid fa-lock fa-xl"></i>Access Denied</h1>
    <p>You <span>do not have
        permission</span> to access
      this page.
      It may be due to restricted access or your account not having the required privileges.
      If you believe this is a mistake, please contact the website administrator for assistance.
      Thank you for your understanding.</p>
    <a href="{% url 'home'%}">Take Me Back!</a>
  </div>
  </div>

</section>
{% endblock content %}