{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static "css/mutual-style.css"%}" />
    <script
      src="https://kit.fontawesome.com/711ce7038c.js  "
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{%static "fonts/Gilroy Light/style.css"%}"
      type="text/css"
    />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
    <link rel="stylesheet" href="{%static "fonts/Gilroy/style.css"%}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FYPC - For All Your PC Needs! | {% block pageTitle %}{% endblock pageTitle %}</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-body">
          <a href="/" class="logo">
            <img src="{% static "images/fypc_logo.png"%}" alt="FYPC Logo" />
          </a>
          <div class="header-burger">
            <div class="top-layer"></div>
            <div class="mid-layer"></div>
            <div class="bottom-layer"></div>
          </div>
          <nav class="header-menu">
            <ul class="header-list">
              <a href="{% url 'home' %}"><li>Home</li> </a>
              <a href="{% url 'catalog' %}"><li>Catalog</li></a>
              <a href="{% url 'contacts' %}"><li>Contacts</li></a>
              {% if request.user.is_authenticated %}
              <a href="{% url 'cart' %}"><li>Cart</li></a>{% endif %}
              <a href="{% url 'login' %}"><li>My Account</li></a>
              {% if request.user.is_authenticated %}
              <a href="{% url 'logout' %}"><li><i class="fa-solid fa-arrow-right-from-bracket"></i></li></a>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="under-header">
      <div class="container">
        <div class="under-header-body">
          <a href="tel:79354821286" class="under-header-link"
            ><i class="fa-solid fa-mobile-screen-button fa-2xl"></i>
            <span>+7(935)-482-12-86</span></a
          ><a href="{% url 'contacts' %}" class="under-header-link"
            ><i class="fa-solid fa-location-dot fa-2xl"></i
            ><span>Irkutsk, Baikalskaya 122</span></a
          ><a href="#" class="under-header-link"
            ><i class="fa-brands fa-vk fa-2xl"></i></a
          ><a href="#" class="under-header-link"
            ><i class="fa-brands fa-square-youtube fa-2xl"></i></a
          ><a href="#" class="under-header-link"
            ><i class="fa-brands fa-telegram fa-2xl"></i></a
          ><a href="#" class="under-header-link"
            ><i class="fa-brands fa-instagram fa-2xl"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
{% block content %}
{% block callback %}{% endblock callback %}
{% endblock content %}
<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <div class="footer-logo">
        <a href="/"><img src="{% static "images/fypc_logo.png"%}" alt="FYPC Logo" /></a>
      </div>
      <div class="footer-links">
        <ul>
          <li>
            <a href="tel:73954821286"
              ><i class="fa-solid fa-mobile-screen-button fa-2xl"></i>
              <span>+7(935)-482-12-86</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-solid fa-location-dot fa-2xl"></i
              ><span>Irkutsk, Baikalskaya 122</span></a
            >
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-vk fa-2xl"></i></a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-brands fa-square-youtube fa-2xl"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-telegram fa-2xl"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--  -->
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/burger-menu.js' %}"></script>
<script src="{% static 'js/filter-popup.js' %}"></script>
<script src="{% static 'js/slider-small.js' %}"></script>
<script src="{% static 'js/slider-grid.js'%}"></script>
</body>
</html>