{% extends 'main.html' %}{% block pageTitle %}Cart{% endblock pageTitle %}
{%block content %}
<section class="section">
  <div class="container">
    <div class="cart-body">
      <div class="page-title">
        <h1>Your Cart</h1>
      </div>
      {% if messages %} {% for message in messages %}
      <h1>{{message}}</h1>
      {% endfor %}{% endif %}
      <div class="cart-summary">
        <p class="products-quantity">
          <b>You Are Buying</b>
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
          <strong>{{products.count}}</strong> <b>Products</b>
        </p>
        <p class="products-price">
          With Total Price Of <strong>{{price}}</strong
          ><i class="fa-solid fa-ruble-sign"></i>
        </p>
        <a href="{% url 'confirm' order.id %}">Confirm Order</a>
      </div>
      <div class="cart-items">
        {% for product in products %}
        <div class="cart-item">
          <a href="{% url 'product' product.product.id%}"
            ><div class="item-img">
              <img src="{{product.product.get_first_image.url}}" alt="" height="200px" width="200px"/>
            </div>
          </a>
          <div class="item-info">
            <a href="{% url 'product' product.product.id%}"
              ><h2>{{product.product.name}}</h2></a
            >

            <p>
              Price: <span>{{product.product.price}} </span
              ><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="{% url 'remove-cart' product.product.id%}"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              {{product.product.short_description}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="cart-pagination">
        <ul class="pagination-list">
          <li><a href="#">«</a></li>
          <li><a class="active" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
