{% extends 'main.html' %}{% block pageTitle %}Cart{% endblock pageTitle %}
{%block content %}
<section class="section">
  <div class="container">
    <div class="cart-body">
      <div class="page-title">
        <h1>Your Cart</h1>
      </div>
      <div class="cart-summary">
        <p class="products-quantity">
          <b>You Are Buying</b>
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
          <strong>4</strong> <b>Products</b>
        </p>
        <p class="products-price">
          With Total Price Of <strong>44990</strong
          ><i class="fa-solid fa-ruble-sign"></i>
        </p>
        <a href="#">Confirm Order</a>
      </div>
      <div class="cart-items">
        <div class="cart-item">
          <a href="/product.html"
            ><div class="item-img">
              <img src="images/laptop_card.jpg" alt="" />
            </div>
          </a>
          <div class="item-info">
            <a href="/product.html"
              ><h2>Kisayomi Noutbook Pro 12 max edition</h2></a
            >

            <p>
              Price: <span>44.990 </span><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="#"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              <ul>
                <h3>Selected Options:</h3>
                <li><span>SSD</span>: 512GB</li>
                <li><span>CPU</span>: Amude R2222</li>
                <li><span>Warranty</span>: 1 year</li>
                <li><span>OS</span>: Doors 11</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cart-item">
          <a href="/product.html"
            ><div class="item-img">
              <img src="images/laptop_card.jpg" alt="" />
            </div>
          </a>
          <div class="item-info">
            <a href="/product.html"
              ><h2>Kisayomi Noutbook Pro 12 max edition</h2></a
            >

            <p>
              Price: <span>44.990 </span><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="#"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              <ul>
                <h3>Selected Options:</h3>
                <li><span>SSD</span>: 512GB</li>
                <li><span>CPU</span>: Amude R2222</li>
                <li><span>Warranty</span>: 1 year</li>
                <li><span>OS</span>: Doors 11</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cart-item">
          <a href="/product.html"
            ><div class="item-img">
              <img src="images/laptop_card.jpg" alt="" />
            </div>
          </a>
          <div class="item-info">
            <a href="/product.html"
              ><h2>Kisayomi Noutbook Pro 12 max edition</h2></a
            >

            <p>
              Price: <span>44.990 </span><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="#"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              <ul>
                <h3>Selected Options:</h3>
                <li><span>SSD</span>: 512GB</li>
                <li><span>CPU</span>: Amude R2222</li>
                <li><span>Warranty</span>: 1 year</li>
                <li><span>OS</span>: Doors 11</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cart-item">
          <a href="/product.html"
            ><div class="item-img">
              <img src="images/laptop_card.jpg" alt="" />
            </div>
          </a>
          <div class="item-info">
            <a href="/product.html"
              ><h2>Kisayomi Noutbook Pro 12 max edition</h2></a
            >

            <p>
              Price: <span>44.990 </span><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="#"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              <ul>
                <h3>Selected Options:</h3>
                <li><span>SSD</span>: 512GB</li>
                <li><span>CPU</span>: Amude R2222</li>
                <li><span>Warranty</span>: 1 year</li>
                <li><span>OS</span>: Doors 11</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cart-item">
          <a href="/product.html"
            ><div class="item-img">
              <img src="images/laptop_card.jpg" alt="" />
            </div>
          </a>
          <div class="item-info">
            <a href="/product.html"
              ><h2>Kisayomi Noutbook Pro 12 max edition</h2></a
            >

            <p>
              Price: <span>44.990 </span><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="#"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              <ul>
                <h3>Selected Options:</h3>
                <li><span>SSD</span>: 512GB</li>
                <li><span>CPU</span>: Amude R2222</li>
                <li><span>Warranty</span>: 1 year</li>
                <li><span>OS</span>: Doors 11</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cart-item">
          <a href="/product.html"
            ><div class="item-img">
              <img src="images/laptop_card.jpg" alt="" />
            </div>
          </a>
          <div class="item-info">
            <a href="/product.html"
              ><h2>Kisayomi Noutbook Pro 12 max edition</h2></a
            >

            <p>
              Price: <span>44.990 </span><i class="fa-solid fa-ruble-sign"></i>
            </p>
            <div class="item-info-remove">
              <a href="#"
                ><i class="fa-sharp fa-xl fa-solid fa-delete-left"></i
              ></a>
            </div>
            <div class="item-info-specs">
              <ul>
                <h3>Selected Options:</h3>
                <li><span>SSD</span>: 512GB</li>
                <li><span>CPU</span>: Amude R2222</li>
                <li><span>Warranty</span>: 1 year</li>
                <li><span>OS</span>: Doors 11</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-pagination">
        <ul class="pagination-list">
          <li><a href="#">«</a></li>
          <li><a class="active" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
