{% extends 'main.html' %} {% block pageTitle %}My Orders{% endblock pageTitle %}
{% block content %}<section class="section">
  <div class="container">
    <div class="myaccount-body">
      <div class="account-info">
        {% include 'base/account-switcher.html' %}
        <div class="account-tabs">
          <div class="account-tab-orders">
            <div class="tab-orders-filter">
              <a href="#"><i class="fa-solid fa-filter fa-2xl"></i></a>
            </div>
            <div class="tab-orders">
              {% for order in orders %}
              <div class="tab-orders-item">
                <div class="item-title">
                  <h2>Order <strong>#{{order.id}}</strong></h2>
                </div>
                <div class="item-info-first">
                  <p>Date: <strong>{{order.finished}}</strong></p>
                  <p>
                    Total Price: <strong>{{order.price}}</strong
                    ><i class="fa-solid fa-ruble-sign"></i>
                  </p>
                </div>
                <div class="item-info-secondary">
                  <p>Status: <strong>{{order.status}}</strong></p>
                  <p>Client: <strong>{{order.client.username}}</strong></p>
                </div>
                <div class="item-info-third">
                  <p>
                    Paid: <strong>{{order.paid}}</strong>/<strong>{{order.price}}</strong
                    ><i class="fa-solid fa-ruble-sign"></i>
                  </p>
                </div>
                <div class="item-button">
                  <a href="#">View Items In This Order</a>
                </div>
              </div>
              {% endfor %}
              
              
            </div>
            <div class="orders-pagination">
              <ul class="pagination-list">
                <li><a href="#">«</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>{% endblock content %}
    
    