{% extends 'main.html' %}{% block pageTitle %}Account Settings{% endblock pageTitle %}
{% block content %}    <section class="section">
  <div class="container">
    <div class="myaccount-body">
      <div class="account-info">
        {% include 'base/account-switcher.html' %}
        <div class="account-tabs">
          <div class="account-tab-settings">
            <form action="" method="post">
              {% csrf_token %}
              <div class="settings-password">
                <h3>Password Settings</h3>
                <ul>
                  <li>
                    {{form.password1}}
                  </li>
                  <li>
                    {{form.password2}}
                  </li>
                </ul>
              </div>
              <div class="settings-phone-number">
                <h3>Phone Number Settings</h3>
                <ul>
                  <li>
                    {{form.phone}}
                  </li>
                </ul>
              </div>
              <div class="settings-address">
                <h3>Address Settings</h3>
                <ul>
                  <li>
                    {{form.address}}
                  </li>
                </ul>
              </div>
              <div class="settings-email">
                <h3>Email Settings</h3>
                <ul>
                  <li>
                    {{form.email}}
                  </li>
                </ul>
              </div>
              <div class="settings-confirm">
                <form action="#" class="confirm-form">
                  <input
                    type="password"
                    name="password_confirm"
                    placeholder="Enter Your Current Password"
                  />
                </form>
                <input type="submit" style="margin-left: 20px" value="Confirm Changes">
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>{% endblock content %}
