{% extends 'main.html' %}{% block pageTitle %}Join{% endblock pageTitle %}
{%block content %}
<section class="section">
  <div class="container">
    <div class="join-body">
      <form class="log-join-form" action="" method="post">
        {% csrf_token %}
        <ul>
          <li>{{form.email}}</li>
          <li>{{form.password1}}</li>
          <li>{{form.password2}}</li>
        </ul>
        
        
        
        <div class="log-join-buttons">
          <a href="{%url 'login'%}">Log In</a>
          <input type="submit" value="Join" method="post" />
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
