{% extends 'admin/main.html' %}
{% block pageTitle %}Bundle: {{bundle.id}}{% endblock pageTitle %}
{% block content %}
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded d-flex justify-content-between">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/admin-bundles.html">Bundles</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">5</li>
          </ol>
        </nav>
        <div class="buttons">
          <a href="/admin-bundle-edit.html"
            ><i class="fa-solid fa-pen-to-square fa-2xl"></i
          ></a>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="row row-cols-2 row-cols-md-2 row-cols-xl-4">
          <div class="col">
            <div class="input-group">
              <span class="input-group-text" id="Addon-Name">Price</span>
              <input
                type="text"
                class="form-control"
                aria-label="Name"
                aria-describedby="basic-addon1"
                value="{{bundle.price}}"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="d-flex justify-content-between">
          <h4 class="h4">Bundle's Products</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >ID<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Name<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Category<i
                        class="fa-solid fa-arrow-up-short-wide"
                      ></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Subcategory<i
                        class="fa-solid fa-arrow-up-short-wide"
                      ></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Price<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Date Added<i
                        class="fa-solid fa-arrow-up-short-wide"
                      ></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Times Bought<i
                        class="fa-solid fa-arrow-up-short-wide"
                      ></i></a
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <th scope="row">
                  <a href="{% url 'view-product' product.id %}" class="text-dark">{{product.id}}</a>
                </th>
                <td>
                  <a href="{% url 'view-product' product.id %}" class="text-dark"
                    >{{product.name}}</a
                  >
                </td>
                <td>PC</td>
                <td>None</td>
                <td>{{product.price}}</td>
                <td>{{product.created}}</td>
                <td>{{product.timesBought}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
{% endblock %}