{% extends 'admin/main.html' %}
{% block pageTitle %}Products: {{product.name}}{% endblock pageTitle %}
{% block content %}
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded d-flex justify-content-between">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/admin-products.html">Products</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{product.name}}
            </li>
          </ol>
        </nav>
        <div class="buttons">
          <a href="{% url 'edit-product' product.id%}"
            ><i class="fa-solid fa-pen-to-square fa-2xl"></i
          ></a>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="row row-cols-2 row-cols-md-2 row-cols-xl-4">
          <div class="col">
            <div class="input-group">
              <span class="input-group-text" id="Addon-Name">Name</span>
              <input
                type="text"
                class="form-control"
                aria-label="Name"
                aria-describedby="basic-addon1"
                value="{{product.name}}"
                disabled
              />
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <label class="input-group-text" for="cat-select">Category</label>
              <select class="form-select" id="cat-select" disabled>
                <option>Pick...</option>
                <option value="1" selected>PC</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <label class="input-group-text" for="scat-select"
                >Subcategory</label
              >
              <select class="form-select" id="scat-select" disabled>
                <option>Pick...</option>
                <option value="1">Mouse</option>
                <option value="2">Keyboard</option>
                <option value="3">Monitor</option>
                <option value="4" selected>None</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <span class="input-group-text" id="Addon-Name">Price</span>
              <input
                type="text"
                class="form-control"
                aria-label="Name"
                aria-describedby="basic-addon1"
                value="{{product.price}}"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="d-flex justify-content-between">
          <h4 class="h4">Product Images</h4>
        </div>
        <div class="row mt-4">
          {% for image in images %}
          <div class="col d-flex">
            <a href="#"
              ><img
                src="{{image.image.url}}"
                alt="Review Photo"
                width="300px"
                height="300px"
                class="rounded-3"
            /></a>
            {% if image.is_first %} <div class="buttons text-center mt-2">
              <div class="3 mb-3">
                <i class="fa-solid fa-star fa-2xl text-warning"></i>
              </div>
            </div>{% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="d-flex justify-content-between">
          <h4 class="h4">Product's Tags</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >ID<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Name<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for tag in tags %}
              <tr>
                <th scope="row">
                  <a href="/admin-tag.html" class="text-dark">{{tag.id}}</a>
                </th>
                <td>
                  <a href="/admin-tag.html" class="text-dark">{{tag.name}}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
{% endblock %}