{% extends 'admin/main.html' %}
{% block pageTitle %}{{role.name}} Edit Permissions{% endblock pageTitle %}
{% block content %}
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded d-flex justify-content-between">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/admin-workers.html">Roles</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Edit: {{role.name}}
            </li>
          </ol>
        </nav>
        <div class="buttons">
          <input type="submit" value="OK" form="role-edit">
          <a href="#"
            ><i
              class="fa-solid fa-circle-check fa-2xl mt-2 me-2 pt-1 text-success"
            ></i></a
          >
          {% if page == "add" %}
          <a href="{% url 'roles' %}"
            ><i class="fa-solid fa-trash fa-2xl mt-2 ms-2 pt-1 text-danger"></i
          ></a>
          {% else %}
          <a href="{% url 'delete-role' role.id %}"
            ><i class="fa-solid fa-trash fa-2xl mt-2 ms-2 pt-1 text-danger"></i
          ></a>
          {% endif %}
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="d-flex justify-content-between">
          <h4 class="h4">Role's Permissions</h4>
          <div class="buttons">
            <a href="#"> <i class="fa-solid fa-circle-plus fa-2xl"></i></a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >ID<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Name<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for permission in add_permissions %}
              <tr>
                <th scope="row">
                  <p class="text-dark">{{permission.id}}</p>
                </th>
                <td>
                  <p class="text-dark"
                    >{{permission.name}}</p
                  >
                </td>
                <td><a href="{% url 'add-permission' pk=role.id permission_id=permission.id%}"> <i class="fa-solid fa-circle-plus fa-2xl"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <nav aria-label="Table Page Changer">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
{% endblock %}