{% extends 'admin/main.html' %}
{% block pageTitle %}Role: {{role.name}}{% endblock pageTitle %}
{% block content %}
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded d-flex justify-content-between">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/admin-roles.html">Roles</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{role.name}}</li>
          </ol>
        </nav>
        <div class="buttons">
          <a href="{% url 'edit-role' role.id%}"
            ><i class="fa-solid fa-pen-to-square fa-2xl"></i
          ></a>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="row row-cols-2 row-cols-md-2 row-cols-xl-4">
          <div class="col">
            <div class="input-group">
              <span class="input-group-text" id="Addon-Name">Name</span>
              <input
                type="text"
                class="form-control"
                aria-label="Name"
                aria-describedby="basic-addon1"
                value="{{role.name}}"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <h4 class="h4">Role's Permissions</h4>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >ID<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Name<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for permission in role_permissions %}
              <tr>
                <th scope="row">
                  <p class="text-dark">{{permission.id}}</p>
                </th>

                <td>
                  <p class="text-dark"
                    >{{permission.name}}</p
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <nav aria-label="Table Page Changer">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
{% endblock %}