{% extends 'admin/main.html' %}{% block pageTitle %}Tags{% endblock pageTitle %} {% block content %}
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
          <div class="col-12 col-md-12 col-lg-8 mt-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="Addon-Name">Name</span>
              <input
                type="text"
                class="form-control"
                aria-label="Name"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col-12 col-lg-2 mt-0 mt-lg-4">
            <a href="#"
              ><button type="button" class="btn btn-danger w-100 fw-bold">
                Reset
              </button></a
            >
          </div>
          <div class="col-12 col-lg-2 mt-3 mt-md-0 mt-lg-4">
            <a href="#"
              ><button type="button" class="btn btn-success w-100 fw-bold">
                Apply
              </button></a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="shadow-lg my-4 p-3 rounded">
        <button type="button" class="btn btn-primary col-12 fw-bold">
          Create New Tag
        </button>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >ID<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
                <th scope="col">
                  <span class="sort-link"
                    ><a href="#" class="text-dark"
                      >Name<i class="fa-solid fa-arrow-up-short-wide"></i></a
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for tag in tags %}
              <tr>
                <th scope="row">
                  <a href="/admin-tag.html" class="text-dark">{{tag.id}}</a>
                </th>
                <td>
                  <a href="/admin-tag.html" class="text-dark">{{tag.name}}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <nav aria-label="Table Page Changer">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
{% endblock content %}